<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="succescard-element">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
  </template>

  <script>
    /**
     * `succescard-element`
     * &#39;elemento succes&#39;
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class SuccescardElement extends Polymer.Element {
      static get is() { return 'succescard-element'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'succescard-element'
          }
        };
      }
    }

    window.customElements.define(SuccescardElement.is, SuccescardElement);
  </script>
</dom-module>
