<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="succescard-element">
  <template>
    <style>
      :host {
        margin: 0;
        box-sizing: border-box;
      }
      article{
        margin: 0 auto;
        background: white;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        margin: 0 auto;
        width: 100%;
        height: 100%;
        text-align: center; 
      }
    .table{
      width: 400px;
      margin: 15px;
    }
    table{
    /*border: 3px solid black;*/
    text-align: center;
    border-spacing: 0px;
    width: 100%;
    }
    td{
      height: 12px; /*cambio*/
    }
    tr:nth-child(odd){
      background-color: rgba(128, 128, 128, .5);
    }
    tr:nth-child(even){
      background-color: rgba(218, 218, 218, .5);
    }
    h2{
        font-size: 2em;
    }
    input.btn{
        font-size: 12pt;
        font-weight: bold;
        width: 70px;
        height: 35px;
        padding: 2px; /*cambio*/
        background-color: rgba(128, 128, 128, .5);
      }
      
    </style>
    <!-- <h2>Hello [[prop1]]!</h2> -->

    <article class="tableData">

    <header>
      <h2>[[prop1]]!</h2>
    </header>

    <main>
      <section class="table">

      <table>
        <tbody>
          <tr><td></td></tr>
          <tr><td></td></tr>
          <tr><td></td></tr>
          <tr><td></td></tr>
          <tr><td></td></tr>
          <tr><td></td></tr>
        </tbody>
      </table>

      </section>

    </main>

    <footer>
      <input type="button" name="myButton" value="OK" class="btn">
    </footer>
    
  </article>
  </template>

  <script>
    /**
     * `succescard-element`
     * &#39;elemento succes&#39;
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class SuccescardElement extends Polymer.Element {
      static get is() { return 'succescard-element'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'Succes'
          }
        };
      }
    }

    window.customElements.define(SuccescardElement.is, SuccescardElement);
  </script>
</dom-module>
